<div class="container">
  <footer>
    <span>@Upper 2019</span>
    <span>Credit for background images goes to</span>
    <a href="https://unsplash.com/@worthyofelegance?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge">Alex</a> and
    <a href="https://unsplash.com/@richard_bagan?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge">Richard Bagan</a>
  </footer>
</div>