<div class="container">
  <footer>
    <span>@Upper 2019</span>
    <span>Credit for background images goes to</span>
    <a href="https://unsplash.com/photos/Ss2asE5r1i4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ben Wicks</a>
    <a href="https://unsplash.com/@worthyofelegance?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge">Alex</a>
    <span>and</span>
    <a href="https://unsplash.com/@richard_bagan?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge">Richard Bagan</a>
  </footer>
</div>