<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <% if (user && user.name) { %>
          <li><a>Hello user: <%- user.name %></a></li>
          <li><a href="/auth/logout">Logout</a></li>
          <% } %>
      </ul>
    </div>
  </div>
</nav>