<% let messages = null %>
<% if (locals.getMessages) { %>
<%  messages = getMessages() %>
<% } %>

<div id="errors" class="container">
</div>

<% if (messages && messages.error && Array.isArray(messages.error)) { %>
  <% for (const type in messages) { %>
    <% for (const message of messages[type]) { %>
      <script>handlePromiseErrors( <%- message %> )</script>
    <% } %> 
  <% } %>
<% } %>  