<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/assets/styles/index.css">
  <title>Application</title>
  <style>
    #chart {
      max-height: 50vh;
      max-width: 50vw;
    }

    .asked-question-btn,
    .remove-question-btn, 
    .add-question-btn {
      margin-left: 10px;
    }

    .asked-question-btn:hover,
    .remove-question-btn:hover, 
    .add-question-btn:hover {
      cursor: pointer;
      color: red;
      user-select: none;
      font-size: 17px;
    }

    #questions {
      margin-top: 10vh;
      margin-bottom: 10vh;
      border: 1px solid black;
    }

    #available-questions {
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  </style>
</head>
<body>
  <% include ../includes/navbar %>
  <% include ../includes/notifications %>
  <% include ../includes/greet %>

  <div class="center">
    <canvas id="chart" width="800" height="500">
      <p>Your browser doesn't support the canvas element and its functionality.</p>
    </canvas>
  </div>

  <span id="errors"></span>
  <span id="data"></span>

  <div id="create-session" style="background-color: #e0e0e0">
    <br>
    <div id="session-controls">
      <h3>Create a new session</h3>
      <p>Choose a child from the list to monitor his/her pulse and name your session.</p>
      <br> 
      <select id="select-child"></select>
      <input type="text" id="session-name" placeholder="Enter session name">
      <button id="ping-device" title="Ping child's device to see if it works">Ping device</button> 

      <p>It it recommended to first check if the device is connected. To do this just simply ping it.</p>
      <span>
        Ping status: <span id="session-ping-status">unchecked.</span>
      </span>
    </div>

    <button id="start-simulation">Start simulation.</button>
    <button id="stop-simulation" class="hidden">Stop simulation.</button>
    <br><br>
  </div>

  <div id="questions">
    <div id="pre-session">
      <form id="new-question">
        <label for="new-question">Create a new question to be asked during the session.</label>
        <input type="text" name="new-question" placeholder="Enter name for question">
        <input type="submit" value="Create question">
      </form>
      
      <ul id="available-questions">
      </ul>
    </div>

    <p>Session questions</p>
    <ul id="session-questions">

    </ul>
  </div>

  <form id="new-note" class="hidden">
    <p>Add a new note.</p>
    <textarea name="comment" form="new-note" rows="4" cols="50"></textarea>
    <input type="submit" value="Add note.">
  </form>
  
  <% include ../includes/footer %>

  <script src="/assets/js/client/error.js"></script>
  <script src="/assets/js/libs/chart.bundle.min.js"></script>
  <script src="/assets/js/libs/moment.min.js"></script>
  <script src="/assets/js/libs/chartjs-plugin-streaming.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/client/session/init.js"></script>
  <script src="/assets/js/client/session/stream.js"></script>
  <script src="/assets/js/client/session/chart.js"></script>
</body>
</html>