<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Application</title>
</head>
<body>
  <% include ../includes/navbar %>

  <% if (user && user.name) { %>
  <h1>Hello user: <%- user.name %></h1>
  <% } %>

  <button id="start-simulation">Start simulation.</button>

  <a href="/auth/logout">Logout</a>
  <script src="/assets/js/client/stream.js"></script>
</body>
</html>