<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Authentication</title>
  <link rel="stylesheet" href="/assets/styles/index.css">
</head>
<body>
  <% let messages = null %>
  <% if (locals.getMessages) { %>
  <%  messages = getMessages() %>
  <% } %>

  <% if (messages && messages.error && Array.isArray(messages.error)) { %>
    <% for (const type in messages) { %>
      <% for (const message of messages[type]) { %>
        <p class=<%- type %>><%- message %></p>
      <% } %> 
    <% } %>
  <% } %>  
  
  <div>
    <h1>Login form</h1>  
    <form action="/auth/login" method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>
      <input type="submit" value="Login">
    </form>
  </div>

  <div>
    <h1>Register form</h1>  
    <form action="/auth/register" method="POST">
      <div>
        <label for="username">Username</label>
        <input type="text" name="username">
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password">
      </div>
      <div>
        <label for="password_repeat">Repeat password</label>
        <input type="password" name="password_repeat">
      </div>
      <input type="submit" value="Register">
    </form>
  </div>

</body>
</html>