* {
  padding: 0;
  margin: 0;
}

.error {
  font-weight: bold;
  color: red;
}

.notification {
  font-weight: bold;
  color: aqua;
}

.hidden {
  visibility: hidden;
  display: none;
}

.working {
  color: green;
}